{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap_material: Layouts/Default.html [begin] -->
<div id="layoutDefault">
    <f:render partial="Area/MiniNavbar" section="Default" arguments="{_all}"/>
    <f:render partial="Area/MainMenu" section="Default" arguments="{_all}" />
</div>
<div class="wrapper">
    <div class="container">
        <section id="areaFeature" class="page-header">
            <f:cObject typoscriptObjectPath="lib.content.feature"/>
        </section>

        <main id="areaMain" class="row">
            <div id="menuBreadcrumbWrapper">
                <span><f:translate key="breadcrumb_label"/></span>
                <f:cObject typoscriptObjectPath="lib.menu.breadcrumb"/>
            </div>
            <f:render section="Default"/>
        </main>

        <section id="areaExtended" class="row">
            <f:cObject typoscriptObjectPath="lib.content.extended"/>
        </section>
    </div>
</div>
<f:render partial="Area/Footer" section="Default" arguments="{_all}"/>
</div>
<!-- theme_bootstrap: Layouts/Default.html [end] -->