{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap_material: Layouts/Special.html [begin] -->
<div id="layoutDefault">
    <f:render partial="Area/MiniNavbar" section="Default" arguments="{_all}"/>
    <f:render partial="Area/MainMenu" section="Default" arguments="{_all}" />
</div>
<div class="wrapper">
    <div class="color-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <section id="areaFeature">
                        <f:cObject typoscriptObjectPath="lib.content.feature" />
                    </section>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .color-jumbotron -->
    <div class="container">
        <main id="areaMain" class="row">
            <f:render section="Default" />
        </main>
    </div>
</div>
<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
</div>
<!-- theme_bootstrap_mosaic: Layouts/Special.html [end] -->