{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap_material: Layouts/Startsite.html [begin] -->
<div id="layoutStartsite">
    <f:render partial="Area/MiniNavbar" section="Default" arguments="{_all}"/>
    <f:render partial="Area/MainMenu" section="Default" arguments="{_all}" />


    <div class="wrapper">
        <div class="main-slideshow">
            <div data-ride="carousel" class="carousel slide" id="main-slideshow">
                <section id="areaFeature" class="page-header">
                    <f:cObject typoscriptObjectPath="lib.content.feature" />
                </section>
            </div>
        </div>
        <div class="container intro">

            <main id="areaMain" class="row">
                <f:render section="Default" />
            </main>

        </div>
    </div>

	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
</div>
<!-- theme_bootstrap: Layouts/Startsite.html [end] -->